.second_title1,.second_title2{
    font-weight: normal;
    font-size:16px;
    text-transform: uppercase;
    
}
.second_title1{
    color:#64AE87;
    margin-left: 1245px;
    margin-bottom: 4%;

}
.second_title2{
    color: #000000;
    margin-left: 950px;
}
@media(max-width:760px){
    .second_title1{
        margin-left: 22%;
    }
    .second_title2{
        margin-left: 22%;
    }
}