.title{
    color: #3E3E40;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 24px;
    border-bottom: 2px solid #64AE87;
    width: 50px;
}
.noticias,.eventos{
    margin-right: 990px;
    margin-top: 120px;
}

