*{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #F9F9F9;
}
#vila{
    opacity: 70%;
    position: relative;
}
.info-container{
    position: absolute;
    background: #69A391;
    width: 621px;
    height: 213px;
    top: 391px;
    padding: 0;
    margin-bottom: -20%;
    z-index: 1;
    margin-left: 668px;
    box-shadow: 0px 3px 6px #DBDBDB28;
    opacity: 0.8;
}
.bombeiros,#saber_mais{
    color: #FFFFFF;
    text-align: left;
}
#saber_mais{
    text-transform: uppercase;
    font-size: 12px;
    width: 94px;
    height: 15px;
    margin-left: 55px;
    margin-top: 48px;
}
.bombeiros{
    font-weight: bold;
    font-size: 28px;
    width: 510px;
    height: 70px;
    margin-top: 48px;
}
#campo1{
    position: absolute;
    z-index: 1;
    width: 166px;
    height: 101px;
    top: 643px;
    left: 660px;
}
#campo2{

    position: absolute;
    z-index: 1;
    width: 166px;
    height: 101px;
    top: 643px;
    left: 840px;
}
#campo3{
    position: absolute;
    z-index: 1;
    width: 166px;
    height: 101px;
    top: 643px;
    left: 1020px;
}
#vidigueira{
    position: absolute;
    z-index: 1;
    width: 166px;
    height: 101px;
    top: 643px;
    left: 1200px;
}
#castelo{
    position: absolute;
    z-index: 1;
    width: 166px;
    height: 101px;
    top: 643px;
    left: 1380px;
}
.seta{
    width: 100px;
    height: 20px;
    margin-left: 450px;
}
#esquerda{
    margin-right: 10px;
}

.container_texto{
    background-color: #21878F;
    width: 342px;
    height: 78px;
    margin-right: 1%;
    margin-top: -890px;
    padding-bottom: 50px;
}
.text_atividades{
    font-size: 24px;
    color: white;
    margin-left: 10%;
    padding-top: 5%;
}
.container_atividades{
    width: 342px;
    height: 310px;
    background-color: white;
    margin-right: 1%;
    margin-top: -4%;
}
h2{
    color:#3E3E40;
    font-size: 16px;
    text-transform:none;
    font-weight: 500;
}
#one,#two,#three,#dezenove_1,#dezenove_2,#dezenove_3{
    color:#3E3E40;
    font-size: 12px;
    text-transform:none;
    font-weight: 500;
}
#aula1{
    padding-top: 10%;
    margin-left: 10%;

}
#one,#two,#three{
    margin-left: 2%;
}
#one,#three{
    margin-top: 9%;
}

#calendario_1,#calendario_2,#calendario_3{
    padding-left: 10%;
}
#hora_1,#hora_2,#hora_3{
    margin-left: 40%;
}
#hr_1,#hr_2{
    margin-top: 5%;
}
#conto{
    margin-top: 5%;
    padding-bottom: 10%;
    margin-left: 10%;
}
#aula2{
    margin-top: 5%;
    margin-left: 10%;
}
#trilha{
    width: 993px;
    height: 445px;
    margin-top: 5%;
    margin-left: 7%;
}
#container_foto{
    margin-left: 20%;
    margin-top: -10%;
}
.carrousel_trilha{
    width: 186px;
    height: 93px;
    background-color: #21878F;
    margin-left: 75%;
    margin-top: -6%;
    position: relative;
}
#seta_esquerda,#seta_direita{
    margin-left: 20%;
    margin-bottom: 10%;
}
#linha{
    margin-left: 15%;
    margin-top: 5%;
}
.documento_institucionais,.links_uteis{
    margin-right: 82%;
}
.documento_institucionais{
    margin-top: 45%;
}
.links_uteis{
    margin-top: 5%;
}
#link_util_1, #link_util_2, #link_util_3, #link_util_4, #link_util_5{
     margin-top: 5%;
}
#link_util_1{
    margin-left: 15.5%;
}
#link_util_2,#link_util_3,#link_util_4,#link_util_5{
    margin-left: 5%;
}
@media(max-width: 760px){
    .info-container,#campo1{
        margin-left: auto;
        margin-right: auto;
        
    }
    #campo1,#campo2,#campo3,#castelo{
        top: 600px;
    }
    #campo1{
        left: 80px;
    }
    #campo2{
        left: 260px;
    }
    #campo3{
        left: 440px;
    }
    #castelo{
        left: 620px;
    }
    #vidigueira{
        display:none;
    }
   
    .info-container{
        left: 80px;
        top: 200px;
    }
    #saber_mais{
        display: none;
    }
    #direita,#esquerda{
        display: none;
    }
    #link_util_3,#link_util_4,#link_util_5{
        display: none;
    }
    .noticias,.eventos,.documento_institucionais,.links_uteis{
        margin-left: 22%;
    }
    #trilha{
        width: 302px;
        height: 201px;
        margin-top: 150%;

    }
    #container_foto{
        width: 208px;
        height: 52px;
    }
    .carrousel_trilha{
        width: 104px;
        height: 52px;
        margin-left: 80%;
        margin-top: -14.5%;
    }
    #seta_esquerda,#seta_direita{
        width: 16px;
        height: 18px;
    }
    #linha{
        height: 38px;
    }
    .container_texto{
        width: 302px;
        height: 33px;
       
        
    }
    .text_atividades{
        font-size: 20px;
        margin-top: 90%;
        
    }
    .container_atividades{
        width: 302px;
        height: 300px;
    }
    .links_uteis{
        margin-top: 30%;
    }
    .documento_institucionais{
        margin-top: 80%;
    }
    
}