.container_documents1,.container_documents2,.container_documents3,.container_documents4,.container_documents5{
    width: 196px;
    height: 259px;
}
.container_documents2,.container_documents3,.container_documents4,.container_documents5{
    margin-top: -17%;
}
.container_documents1{
    background-color: #246970;
    margin-left: 16%;
    margin-top: 3%;
}
.container_documents2{
    background-color: #69A391;
    margin-left: 31%;
}
.container_documents3{
    background-color: #21878F;
    margin-left: 46%;
}
.container_documents4{
    background-color: #64AE87;
    margin-right: 26%;
}
.container_documents5{
   background-color: #FDAC1D;
   margin-right: 11%;
}
.title_documents{
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 10%;
    margin-top: 20%;
}
.arrow_documents{
    color:white;
    margin-left: 80%;
}
#image_documents{
    margin-left: 30%;
    margin-top: 30%;
}